<!DOCTYPE html>
<html>
    <head>
        <title>clima_tempo</title>
        <link rel="stylesheet" type="text/css" href="{{ request.static_url('clima_tempo:static/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <img src="{{ request.static_url('clima_tempo:static/weather.png') }}" alt="image" style="width:100px; margin-bottom:-20px;">
            <h1>Clima Tempo</h1>
            <form method="GET" action="/weather">
                <label for="city">Nome da Cidade:</label>
                <input type="text" id="city" name="city" required>
                <button type="submit">Buscar</button>
            </form>

            {% if weather_data %}
            <div class="weather_info">
                <h2> Clima de/a: {{ request.params['city'] }} </h2>
                <p><strong>Temperatura: </strong> {{ weather_data['temperature'] }} °C</p> 
                <p><strong>Descrição: </strong> {{ weather_data['description'] }}</p> 
                <p><strong>Umidade: </strong> {{ weather_data['humidity'] }} %</p> 
                <p><strong>Velocidade do Vento: </strong> {{ weather_data['wind_speed'] }} KM/H</p> 
            </div>
            {% elif error %}
            <p class="error">{{ error }}</p>
            {% endif %}

            <h2>Contagem de Pesquisas por Cidade</h2>
            <table>
                <thead>
                    <tr>
                        <th class="cidade_tabela">Cidade</th>
                        <th class="cidade_tabela">Contagem de Pesquisas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contagem in contagens %}
                    <tr>
                        <td>{{ contagem.cidade }}</td>
                        <td>{{ contagem.contagem }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
